<md-keyboard class="md-grid fade" layout="column" ng-cloak>
    <div ng-repeat="row in keyboard.layout.keys" layout="row">
        <div flex ng-repeat="key in row" ng-switch="key[0]" ng-class="keyboard.getKeyClass(key)">
            <span ng-switch-when="Bksp">
                <md-button class="md-raised key-bksp"
                           ng-mousedown="keyboard.pressed($event, keyboard.getKey(key))"
                           aria-label="{{ keyboard.getKey(key) || 'key' }}">
                    <md-icon>keyboard_backspace</md-icon>
                </md-button>
            </span>
            <span ng-switch-when="Tab">
                <md-button class="md-raised key-tab"
                           ng-mousedown="keyboard.pressed($event, keyboard.getKey(key))"
                           aria-label="{{ keyboard.getKey(key) || 'key' }}">
                    <md-icon>keyboard_tab</md-icon>
                </md-button>
            </span>
            <span ng-switch-when="Caps">
                <md-button class="md-raised key-caps"
                           ng-class="{'locked': keyboard.capsLocked, 'md-focused': keyboard.capsLocked}"
                           ng-mousedown="keyboard.pressed($event, keyboard.getKey(key))"
                           aria-label="{{ keyboard.getKey(key) || 'key' }}">
                    <md-icon>keyboard_capslock</md-icon>
                </md-button>
            </span>
            <span ng-switch-when="Enter">
                <md-button class="md-raised key-enter"
                           ng-mousedown="keyboard.pressed($event, keyboard.getKey(key))"
                           aria-label="{{ keyboard.getKey(key) || 'key' }}">
                    <md-icon>keyboard_return</md-icon>
                </md-button>
            </span>
            <span ng-switch-when="Shift">
                <md-button class="md-raised key-shift"
                           ng-mousedown="keyboard.pressed($event, keyboard.getKey(key))"
                           aria-label="{{ keyboard.getKey(key) || 'key' }}">
                    {{ keyboard.getKey(key) }}
                </md-button>
            </span>
            <span ng-switch-when="Spacer"></span>
            <span ng-switch-default>
                <md-button class="md-raised key-char"
                           ng-mousedown="keyboard.pressed($event, keyboard.getKey(key, true) || keyboard.getKey(key))"
                           aria-label="{{ keyboard.getKey(key, true) || 'key' }}">
                    {{ keyboard.getKey(key, true) || keyboard.getKey(key) }}
                </md-button>
            </span>
        </div>
    </div>
</md-keyboard>
