// how to include md vars?
// src/core/style/variables.scss
$font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$baseline-grid: 8px !default;
$z-index-keyboard: 110 !default;

// md-keyboard
$keyboard-icon-after-margin: 4 * $baseline-grid !default;
$keyboard-list-item-height: 6 * $baseline-grid !default;
$keyboard-header-height: 7 * $baseline-grid !default;
$keyboard-grid-font-weight: 400 !default;

@keyframes keyboard-enter {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes keyboard-leave {
    from {
        opacity: 1;
        transform: scaleY(1);
    }

    to {
        opacity: 0;
        transform: scaleY(0);
    }
}

md-keyboard {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-keyboard;

    border-top-width: 1px;
    border-top-style: solid;

    opacity: 1;
    transform-origin: 50% 100%;

    // should be provided by theme
    background-color: #FAFAFA;
    border-top-color: #E0E0E0;

    &.md-has-header {
        padding-top: 0;
    }

    &.fade.ng-enter {
        animation: keyboard-enter 0.15s ease-in;
    }

    &.fade.ng-leave {
        animation: keyboard-leave 0.2s ease-in;
    }

    .md-subheader {
        background-color: transparent;
        font-family: $font-family;
        line-height: $keyboard-header-height;
        padding: 0;
        white-space: nowrap;
    }

    .md-button {
        min-width: 100%;
        text-transform: none;

        &.key-caps {
            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 100%;
                background-color: #ccc;
            }
            &.locked:before {
                background-color: #0f0;
                box-shadow: 0 0 3px #adff2f;
            }
        }
    }

    md-inline-icon {
        display: inline-block;
        height: 24px;
        width: 24px;
        fill: #444;
    }

    md-list-item {
        display: flex;
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }

    &.md-grid {
        padding-left: 3 * $baseline-grid;
        padding-right: 3 * $baseline-grid;
        padding-top: $baseline-grid;
    }

    .layout-row > .flex {
        border: $baseline-grid / 2 solid transparent;

        &:not(.key-char) {
            width: auto;
        }
        &.key-bksp,
        &.key-caps {
            min-width: 15%;
        }
        &.key-tab,
        &.key-shift,
        &.key-enter {
            min-width: 10%;
        }
        &.key-space {
            text-align: center;

            & > span {
                max-width: 80%;
            }
        }

        & > span {
            display: inline-block;
            width: 100%;

            .md-button {
                margin: 0;
            }
        }
    }

    & ~ .md-scroll-mask {
        pointer-events: none;
    }
}

// IE only
@media screen and (-ms-high-contrast: active) {
    md-keyboard {
        border: 1px solid #fff;
    }
}
